<div class="article">
		<h2><%= article.title %></h2>
		<div class="author"><%= article.author.email_address %></div>
		<div class="body">
			<%= article.body %>
		</div>
		<div class="date">Posted: <%= article.created_at %></div>
		<% if article.created_at != article.updated_at %>
		<div class="date">Updated: <%= article.updated_at %></div>
		<% end %>
</div>