<div class="article">
	<h2><%= link_to article.title, article %></h2>
	<div class="author">
		Posted: <%= article.created_at.to_date.inspect %>
		by <%= link_to article.author.full_name, article.author %>
	</div>
	<% if(session[:author_id]) %>
	<div class="article-admin">
	    <%= link_to 'Edit', edit_article_path(article) %> |
	    <%= link_to 'Delete', article, confirm: 'Are you sure?', method: :delete %>
	</div>
	<% end %>
	<div class="body">
		<% article.body.split(/\n/).each do |line| %>
		<p>
			<%= line %>
		</p>
		<% end %>
	</div>
	<div class="tags">
		Tagged:
		<% article.tags.each do |tag| %>
		<%= render tag %>
		<% end %>
	</div>
	<% if article.created_at != article.updated_at %>
	<div class="date">Updated: <%= article.updated_at %></div>
	<% end %>
</div>