<!DOCTYPE html>
<html>
	<head>
	  <title><%= @active_blog.title %></title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="site">
			<h1 id="title"><%= link_to @active_blog.title, @active_blog %></h1>
			<div id="header">
				<% # This should be moved to the application controller/partial %>
				<%= link_to 'Home', '/' %> |
				<% if(session[:author_id]) %>
				<%= link_to 'Blogs', blogs_path %> |
				<%= link_to 'Articles', articles_path %> |
				<%= link_to 'Authors', authors_path %>
				<span id="login">
					<%= link_to 'Log out', '/logout', method: :post %>
					<% else %>
					<%= link_to 'Log in', '/login' %>
					<% end%>
				</span>
			</div>
			
			<% if(flash[:error]) %>
			<div id="error">
				<%= flash[:error] %>
			</div>
			<% end %>
			<% if(flash[:notice]) %>
			<div id="notice">
				<%= flash[:notice] %>
			</div>
			<% end %>
			
			<%= yield %>
			
			<div id="footer">
				Copyright &copy; 2004-2012 Alex Polson
			</div>
			
		</div>
		

	</body>
</html>
